h1 {
	text-align: center;
	background-color: #9F5B3E;
}

body {
	background-color: #FFA47D;
}

div {
	background-color: #FFA47D;
	padding-top: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 1px;
    padding-right: 1px;
    width: 100%;
    background-color: #E5AB92;
    position: fixed;
    overflow: auto;
}

li {
	float: left;
	width: 33.3%;
}

li a {
    display: block;
    color: #000;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #E5AB92;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}


